
.wrapper {
    display: grid;
    font-family: Titillium Web, Helvetica, sans-serif;

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main {
    font-size: 50px;
    justify-self: center;
    padding: 10px;
    font-weight: bold;
}

.sale {
    justify-self: end;
    align-self: center;
    background-color: orangered;
    color: white;
    font-weight: bold;
    padding: 5px 40px;
}

.newsletter {
    display: grid;
    grid-auto-rows: 27px;
}

.newsletter h4 {
    color: #00b3e5;
}
.navbar {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(15, 1fr); */
    font-size: 20px;
    justify-content: space-between;
    padding: 10px 0px;
}
.body-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.sidebar-nav {
    display: flex;
    justify-content: space-around;
}
.sidebar-nav-item {
    padding: 10px;
}
.sidebar-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 20px;
}
.side-item-title {
    padding: 10px;
}
.ranking {
    justify-self: end;
    align-self: center;
    font-size: 30px;
    font-weight: bold;
    color: #00b3e5;
}
* {
    border: 1px solid red;

}