body {
    position: relative;
}
.wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-family: Titillium Web, Helvetica, sans-serif;
    margin: 0px 17%;
}


.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.head-wrapper {
    margin: 0px 17%;


}

.main {
    font-size: 80px;
    justify-self: center;
    align-self: end;
    padding: 10px;
    font-weight: bold;
}

.sale {
    justify-self: end;
    align-self: center;
    background-color: #FF0000;
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    padding: 7px 45px;
    border-radius: 3px;
}

.newsletter {
    display: grid;
    grid-auto-rows: 30px;
}

.newsletter h3 {
    color: #00b3e5;
}
.navbar {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(15, 1fr); */
    font-size: 20px;
    justify-content: space-between;
    font-weight: 700;
    color: #002837;
    font-family: Helvetica;

}
.nav-item {
    padding: 10px 0px;
    margin: 0px;
    border-bottom: none;
    transition: border-bottom 0.3s;

}

.nav-item:hover {
    border-bottom: 7px black solid;
    transition: 0.3s;

}

.border-bttm {
    border-bottom: 7px black solid;
}
.line-break {
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 20px;


}

.article h1 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.icons {
    margin-top: 0px;
}

.further-reading {
    margin-top: 10px;
    color:#4D4D4D
}

.further-reading a {
    background-color: #005587;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    margin: 3px;

}

.further-reading a:hover {
    background: #288eb7;
}

.blue-link {
    color: #00b3e5
}


.reference p {
    font-size: 18px;
}
.reference .ref {
    font-family: Helvetica, sans-serif;
}

.blue-item {
    color: #00b3e5;
}
/* .body-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
} */
.sidebar {
    /* width: 18.75rem; */
    margin-left: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sidebar-nav {
    display: flex;
    justify-content: space-between;

}
.sidebar-nav-item {
    padding: 13px 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: #F5F5F5;

}

.hvr:hover {
    background-color: #ddd;
    transition: 0.3s;
}
.sidebar-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 22px;
    color: #4D4D4D;
    background-color: #F5F5F5;
    font-weight: bold;
    margin-top: 5px;



}
.side-item-title {
    padding: 10px;
}
.ranking {
    justify-self: end;
    padding: 15px;
    align-self: center;
    font-size: 30px;
    font-weight: 900;
    color: #00b3e5;
}
.date {
    margin: 10px 0px;
    color: #4D4D4D;
    font-size: 16px;
}
.date a {
    font-weight: bold;
    color: #484848;
}
.author {
    font-weight: bold;
    color: #4D4D4D;
    margin: 10px 0px
}
.author a {
    color:#00b3e5;

}

.img p {
    margin: 0px;
    font-size: 12px;
    font-family: Helvetica;
}

.img-caption {
    font-weight: bold;

}
p {
    font-size: 20px;
    color: #4D4D4D;
    font-family: Georgia, serif;
}

.more-header h2 {
    font-weight: 100;
}

.read-more {
    font-size: 17px;
    font-family: Helvetica;
    font-weight: bold;
    background-color: #F5F5F5;
    padding: 10px 5px;
    border-radius: 3px;
}

.read-more a {
    text-decoration: none;
    color:#00b3e5;


}


.ender {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0px;
}


.ender-btns a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    padding: 10px 15px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 3px;
    
}

.subscribe {
    background-color: #00b3e5;
}

.view {
    background-color: #20b2aa;
}

.buy {
    background-color: #FF0000;
}
.more-articles {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-column:1/-1;
    justify-content: space-between;

}


.more-item img {
    grid-column: 1/-1;
    width: 300px;

}

.more-item h5, h6 {
    margin: 0px;
    margin-top: 5px;
    color: #4D4D4D

}

.more-item h2 {
    margin-top: 5px;
}

.more-item h6 {
    margin-top: 7px;
    font-weight: 100px;
}

.footer {
    margin-top: 30px;
    background-color: #F5F5F5;
    padding: 30px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px; */

}


form {
    margin: auto;
    width: 50%;
    font-size: 20px;
    margin-bottom: 30px;

}

.footer h2 {

    font-family: Helvetica, sans-serif;
}

.footer label {
    color: #4D4D4D
}

.footer input[type=email] {
    background: transparent;
    appearance: none;
    border: 0;
    border-bottom: 2px solid #000;
    width: 32%;
}

.footer input[type=submit] {
    background-color: #005587;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    padding: 5px 100px;
    border-radius: 3px;
    border: none;
}

.footer ul {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-top: 10px;

}

.footer .footer-link {
    display: inline-block;
    border-right: 1px solid #4d4d4d;
    padding: 10px;
}

.manage-pref {
    background-color: #005587;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    left: 45%;
    


}
.btn-container {
    position: relative;
}

* {
    border: 1px solid red;

}